{:lint-as {clojure-commons.configs/defprop-str        clojure.core/defn
           clojure-commons.configs/defprop-optstr     clojure.core/defn
           clojure-commons.configs/defprop-vec        clojure.core/defn
           clojure-commons.configs/defprop-optvec     clojure.core/defn
           clojure-commons.configs/defprop-int        clojure.core/defn
           clojure-commons.configs/defprop-optint     clojure.core/defn
           clojure-commons.configs/defprop-long       clojure.core/defn
           clojure-commons.configs/defprop-optlong    clojure.core/defn
           clojure-commons.configs/defprop-boolean    clojure.core/defn
           clojure-commons.configs/defprop-optboolean clojure.core/defn
           clojure-commons.configs/defprop-uuid       clojure.core/defn
           clojure-commons.configs/defprop-optuuid    clojure.core/defn}}
